* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: none;
  background-color: #DEECF7;
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: #1F3F68;
  background-image: url("/Union.8cc4218a.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: none;
}

@font-face {
  font-family: "San Francisco Pro Display Black";
  src: url("/SFProDisplay-Black.d6bc7dd8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Regular";
  src: url("/SFProDisplay-Regular.f8d780a0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Medium";
  src: url("/SFProDisplay-Medium.55d36151.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Bold";
  src: url("/SFProDisplay-Bold.dad2507a.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Semibold Italic";
  src: url("/SFProDisplay-SemiboldItalic.870112ec.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Light";
  src: url("/SFProDisplay-Light.e9c8b68f.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Thin";
  src: url("/SFProDisplay-Thin.4cbd35da.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header__title {
  font-family: "San Francisco Pro Display Black", sans-serif;
}

.career__title, .benefits__title, .card__title {
  font-family: "San Francisco Pro Display Bold", sans-serif;
}

.footer__title, .footer__abbr, .form__submit, .form__label, .card__btn {
  font-family: "San Francisco Pro Display Semibold Italic";
}

.form__info, .form__input, .page__body {
  font-family: "San Francisco Pro Display Regular", sans-serif;
}

.header__more-btn {
  font-family: "San Francisco Pro Display Medium", sans-serif;
}

.form__input::placeholder {
  font-family: "San Francisco Pro Display Light";
}

.footer__rights, .footer__link {
  font-family: "San Francisco Pro Display Thin";
}

.page__body {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 165px;
  }
}

.header {
  height: 100vh;
  padding: 40px 0 70px 0;
  background-image: linear-gradient(0deg, hsl(208, 63%, 75%) 0%, hsl(210, 63%, 88%) -2%, hsl(0, 0%, 100%) 28%);
}
@media (min-width: 1440px) {
  .header {
    background-image: url("/Header-banner.60acd485.png"), linear-gradient(0deg, hsl(208, 63%, 75%) 0%, hsl(210, 63%, 88%) -2%, hsl(0, 0%, 100%) 28%);
    background-repeat: no-repeat;
    background-position: right;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .header__top {
    margin-bottom: 64px;
  }
}
.header__menu-btn {
  padding: 0;
  background-color: unset;
  border: none;
}
@media (min-width: 1440px) {
  .header__menu-btn {
    transition: transform 0.3s;
  }
  .header__menu-btn:hover {
    transform: scale(1.2);
  }
}
.header__content {
  display: grid;
  grid-template-columns: repeat(4, 64px);
  column-gap: 30px;
}
@media (min-width: 768px) {
  .header__content {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    column-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .header__content {
    display: grid;
    grid-template-columns: repeat(12, 65px);
    column-gap: 30px;
  }
}
.header__title {
  margin-bottom: 56px;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #1F3F68;
  grid-column-start: 1;
  grid-column-end: 4;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 64px;
    line-height: 83px;
    letter-spacing: 0.04em;
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
@media (min-width: 1440px) {
  .header__title {
    font-size: 64px;
    line-height: 83px;
    letter-spacing: 0.04em;
    grid-column-start: 1;
    grid-column-end: 7;
  }
}
.header__text {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #798CA4;
  grid-column-start: 1;
  grid-column-end: -1;
}
@media (min-width: 768px) {
  .header__text {
    width: 425px;
    margin-bottom: 72px;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
.header__more-btn {
  width: 220px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.btn--primary {
  display: block;
  padding: 15px 40px;
  border-radius: 10px;
  background: #5A98D0;
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.07em;
  text-align: center;
  color: #FFFFFF;
}
@media (min-width: 1440px) {
  .btn--primary {
    transition: background-color 0.3s;
  }
  .btn--primary:hover {
    background-color: #4799E3;
  }
  .btn--primary:active {
    background-color: #4088C9;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 48px 23px 24px;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
}
@media (min-width: 1440px) {
  .card {
    padding: 48px 32px 24px;
  }
}
.card__img {
  display: block;
  height: 132px;
  align-self: center;
  margin-bottom: 48px;
}
.card__icons {
  position: absolute;
  top: -25px;
  left: 37px;
}
.card__title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}
.card__text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.08em;
  color: #798CA4;
}
.card__btn {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 9px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}
@media (min-width: 1440px) {
  .card__btn {
    transition: transform 0.3s;
  }
  .card__btn:hover {
    transform: scale(1.1);
  }
}

.benefits {
  padding: 77px 0 140px 0;
  background-image: url("/Ellipse-1.e1124491.png"), url("/Ellipse-2.4d75549f.png"), url("/Ellipse-3.9364f47f.png"), url("/Ellipse-4.88967665.png");
  background-repeat: no-repeat;
  background-position: 25% 13%, 80% 36%, 57% 65%, 50% 102%;
}
@media (min-width: 768px) {
  .benefits {
    padding: 106px 0 155px 0;
    background-image: url("/Ellipse-1-large.cf5e0c58.png"), url("/Ellipse-2-large.9d4abd99.png"), url("/Ellipse-3-large.a9c486dd.png"), url("/Ellipse-4-large.9798fcf2.png");
    background-repeat: no-repeat;
    background-position: 200% 15%, 175% 42%, 0% 71%, 286% 108%;
  }
}
@media (min-width: 1440px) {
  .benefits {
    padding: 176px 0 156px 0;
    background-image: url("/Ellipse-1-large.cf5e0c58.png"), url("/Ellipse-2-large.9d4abd99.png"), url("/Ellipse-3-large.a9c486dd.png"), url("/Ellipse-5-large.a987f8f4.png"), url("/Ellipse-4-large.9798fcf2.png");
    background-repeat: no-repeat;
    background-position: 105% 10%, -30% 34%, 100% 58%, -17% 73%, 5% 114%;
  }
}
.benefits__content {
  position: relative;
  margin-bottom: 96px;
}
@media (min-width: 768px) {
  .benefits__content {
    margin-bottom: 160px;
    display: grid;
    grid-template-columns: repeat(6, 90px);
    column-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .benefits__content {
    margin-bottom: 142px;
    display: grid;
    grid-template-columns: repeat(12, 65px);
    column-gap: 30px;
    grid-template-rows: minmax(525px);
    row-gap: 100px;
  }
}
.benefits__title {
  margin-bottom: 76px;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #316099;
}
@media (min-width: 768px) {
  .benefits__title {
    min-width: 460px;
    margin-bottom: 100px;
    font-size: 48px;
    line-height: 67px;
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
@media (min-width: 1440px) {
  .benefits__title {
    margin-bottom: 0;
    grid-column-start: 2;
    grid-column-end: 7;
  }
}
.benefits__card {
  max-width: 330px;
  margin: 0 auto 64px auto;
}
.benefits__card:last-child {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .benefits__card {
    margin-bottom: 112px;
    grid-column-start: 2;
    grid-column-end: 5;
  }
}
@media (min-width: 1440px) {
  .benefits__card {
    margin-bottom: 0;
    max-width: 348px;
    max-height: 525px;
  }
  .benefits__card:nth-child(2) {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row: 1/3;
  }
  .benefits__card:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 2/4;
  }
  .benefits__card:nth-child(4) {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row: 3/5;
  }
}
.benefits__form {
  padding: 56px 46px 43px;
  border-radius: 10px;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
}
@media (min-width: 768px) {
  .benefits__form {
    padding: 56px 75px 46px;
  }
}
@media (min-width: 1440px) {
  .benefits__form {
    padding: 56px 95px 46px;
    max-width: 730px;
    margin: 0 auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.form__title {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.29em;
  text-transform: uppercase;
  text-align: center;
  color: #1F3F68;
}
@media (min-width: 768px) {
  .form__body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
}
.form__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.06em;
  color: #1F3F68;
}
.form__label:nth-child(4) {
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .form__label {
    flex: 0 1 47.2%;
  }
}
.form__input {
  height: 40px;
  padding: 7px 16px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #333333;
  border-radius: 6px;
  background-color: #EAF3FA;
  outline: none;
  border: none;
}
.form__input::placeholder {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #5A768C;
}
.form__input--phone::placeholder {
  letter-spacing: 0.3em;
}
.form__input--email::placeholder {
  letter-spacing: 0.2em;
}
.form__input:focus {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 16px 0px #A3C9F5;
}
.form__input:invalid {
  box-shadow: 0px 2px 16px 0px #F58A8A;
}
@media (min-width: 1440px) {
  .form__input {
    transition: box-shadow 0.3s;
  }
  .form__input:hover {
    box-shadow: 0px 2px 16px 0px #A3C9F5;
  }
}
.form__info {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  color: #888888;
}
.form__checkbox {
  display: flex;
  gap: 5px;
  margin-bottom: 44px;
}
@media (min-width: 768px) {
  .form__checkbox {
    width: 100%;
    align-items: center;
  }
}
.form__label-checkbox {
  width: 215px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.06em;
  color: #1F3F68;
}
@media (min-width: 768px) {
  .form__label-checkbox {
    width: 100%;
  }
}
.form__submit {
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.06em;
}

.career {
  padding: 91px 0 52px;
  background-color: #316099;
  border-bottom: 1px solid #ADBFD6;
  border-top-right-radius: 200px;
}
@media (min-width: 768px) {
  .career__content {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    column-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .career__content {
    display: grid;
    grid-template-columns: repeat(12, 65px);
    column-gap: 30px;
  }
}
.career__title {
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;
}
@media (min-width: 768px) {
  .career__title {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media (min-width: 1440px) {
  .career__title {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
.career__text {
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.06em;
  color: #ADBFD6;
}
@media (min-width: 768px) {
  .career__text {
    margin-bottom: 71px;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
@media (min-width: 1440px) {
  .career__text {
    grid-column-start: 2;
    grid-column-end: 7;
  }
}
.career__btn {
  width: 220px;
}
@media (min-width: 768px) {
  .career__btn {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 1440px) {
  .career__btn {
    height: min-content;
    grid-column-start: 8;
    grid-column-end: 11;
  }
}

.footer {
  padding: 47px 0 34px;
  background-color: #316099;
}
@media (min-width: 768px) {
  .footer {
    padding: 17px 0 41px;
  }
}
@media (min-width: 768px) {
  .footer__content {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    column-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .footer__content {
    display: grid;
    grid-template-columns: repeat(12, 65px);
    column-gap: 30px;
  }
}
.footer__logo {
  margin-bottom: 32px;
}
.footer__contacts {
  margin-bottom: 53px;
}
@media (min-width: 768px) {
  .footer__contacts {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media (min-width: 1440px) {
  .footer__contacts {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1440px) {
  .footer__list-item {
    transition: transform 0.3s;
  }
  .footer__list-item:hover {
    transform: translateX(20px);
  }
}
.footer__link {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}
.footer__link--flex {
  display: flex;
}
.footer__abbr {
  display: inline-block;
  margin-right: 16px;
}
.footer__about {
  margin-bottom: 52px;
}
@media (min-width: 768px) {
  .footer__about {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}
@media (min-width: 1440px) {
  .footer__about {
    grid-column-start: 5;
    grid-column-end: 8;
  }
}
.footer__about-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__social {
  margin-bottom: 44px;
}
@media (min-width: 768px) {
  .footer__social {
    grid-column-start: 6;
    grid-column-end: 7;
  }
}
@media (min-width: 1440px) {
  .footer__social {
    grid-column-start: 8;
    grid-column-end: 10;
  }
}
.footer__social-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__title {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.footer__rights {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ADBFD6;
}
@media (min-width: 768px) {
  .footer__rights {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 1440px) {
  .footer__rights {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

/*# sourceMappingURL=/main.48b3db1d.css.map */