%bold-800-text {
  font-family: 'San Francisco Pro Display Black', sans-serif;
}

%bold-700-text {
  font-family: 'San Francisco Pro Display Bold', sans-serif;
}

%semibold-italic {
  font-family: 'San Francisco Pro Display Semibold Italic';
}

%regular-text {
  font-family: 'San Francisco Pro Display Regular', sans-serif;
}

%medium-text {
  font-family: 'San Francisco Pro Display Medium', sans-serif;
}

%light-text {
  font-family: 'San Francisco Pro Display Light';
}

%thin-text {
  font-family: 'San Francisco Pro Display Thin';
}