@font-face {
  font-family: 'San Francisco Pro Display Black';
  src: url('../fonts/SFProDisplay-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Regular';
  src: url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Medium';
  src: url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Bold';
  src: url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Semibold Italic';
  src: url('../fonts/SFProDisplay-SemiboldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Light';
  src: url('../fonts/SFProDisplay-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Pro Display Thin';
  src: url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

